* {
    margin: 0;
    padding: 0;

}

.container {
    background-color: black;
    color: white;
    margin: 50px;
    padding: 10px;
    text-align: center;
}

.box {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    width: 250px;
}

.box img {
    width: 250px;
    height: 250px;
}

.products {
    text-align: center;
}

.products input {
    background-color: black;
    color: white;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding: 5px;
}

.products input:hover {
    background-color: red;

}

.contact-form {
    margin-top: 50px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;

}



.contact-form__input {

    padding: 10px;
    border: solid;


}

.contact-form__textarea {

    padding: 10px;
    border: solid;


}

.contact-form__submit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: yellow;
    color: black;
    border: none;
    width: 60%;
}